{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "indent": 0,
    "lines-between-class-members": 0,
    "no-console": "warn",
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "always"],
    "unicorn/no-abusive-eslint-disable": 0
  }
}
